@model IEnumerable<GestaoProffff.Models.CursoModel>

@{
    ViewData["Title"] = "Curso";
}

<h1>Curso</h1>

<p>
    <a asp-action="CriarCurso" asp-controller="Home">Criar Curso</a>
</p>



</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
