@model IEnumerable<GestaoProffff.Models.TurmaModel>

@{
    ViewData["Title"] = "Turma";
}

<h1>Turma</h1>

<p>
    <a asp-action="AdicionarTurma" class="btn btn-success">Adicionar nova turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoAssociado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlunosMatriculados)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.IDTurma)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.CursoAssociado.NomeCurso)
                    </td>
                    <td>
                    @if (item.AlunosMatriculados != null)
                    {
                        foreach (var aluno in item.AlunosMatriculados)
                        {
                                        <p>@aluno.NomeAluno</p>
                        }
                    }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IDTurma" class="btn btn-primary">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IDTurma" class="btn btn-info">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.IDTurma" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
